<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="https://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>WebClass Application</title>
          <link rel="stylesheet"
   			 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   			 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    		 crossorigin="anonymous">
    </head>
    <body>
   		<h1 class="text-center">WebClass Application</h1>
		<hr>
        <h2 class="text-center">Lista Studenti classe <th th:text="${classe.grado}">  <th th:text="${classe.sezione}"></h2>
        
	<div class="container my-2">
		<table >
        <tr>
        	<td>
        	<a th:href="@{/home}" class="btn btn-primary">Home</a>  	&nbsp;
			</td>
			<td>
        	<a th:href="@{/listaClassi}" class="btn btn-primary">Classi</a> 	&nbsp; 
			</td>	
		</tr>
		</table>
		</div>
    	
   	<div class="container my-2">	
			<br />
        	 <form th:action="@{/formAddStudente/{id}(id=${classe.id})}" method="get">
            <input type="submit" value="+" class="btn btn-primary"/>
        </form>
	</div>
	
	<div class="container my-2">
		<table border="1" class="table table-striped table-responsive-md">
		<thead>
				<tr>
					<th>
						ID
					</th>
					<th>
						Nome
					</th>
					<th>
						Cognome
					</th>
					<th>
						Email
					</th>
				
					<th>Actions</th>
				</tr>
			<tr th:each="studente: ${studenti}">
			<td th:text="${studente.id}"/>	
			<td th:text="${studente.nome}"/>	
			<td th:text="${studente.cognome}"/>	
			<td th:text="${studente.email}"/>	
			<td>
			<a th:href="@{/formUpdateStudente/{idc}/{ids}(ids=${studente.id},idc=${classe.id})}" class="btn btn-primary">Update</a>
			<a th:href="@{/infoGenitore/{idc}/{ids}(ids=${studente.id},idc=${classe.id})}" class="btn btn-primary">Genitore</a>
			</td>
			</tr>
		</table>
		</div>
	
		<div class="container my-2">
		<table>
		<tr>
		<td>
		 <form th:action="@{/listaStudenti/{id}(id=${classe.id})}" method="get">
            <input type="submit" value="refresh" class="btn btn-primary"/> &nbsp; &nbsp;
        </form>
        </td>
		
		<td>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-dark"/>
        </form>
        </td>
        
		</tr>
        </table>
		</div>
	
    </body>
</html>