<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="https://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>WebClass Application</title>
            <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    </head>
    <body>
    	<h1 class="text-center">WebClass Application</h1>
		<hr>
        <h2 class="text-center">Benvenuto <td th:text="${username}"></td> alla homepage genitore! </h2>
         
        <div class="container my-2">
         <form th:action="@{/anagraficaFiglio}" method="get">
        	<input type="submit" value="Accedi" class="btn btn-primary btn-lg btn-block" />
        </form>
        <br>
       	<form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-black"/>
        </form>
        </div>
    </body>
</html>